<div class="block exchange-block" id="exchange-block">
  <div class="exchange-title">Передача данных (импорт/экспорт)</div>
  <input type="text" id="exchange-string" class="exchange-input" placeholder="..." autocomplete="off">
  <div class="exchange-btns">
    <button id="clear-remainders" class="exchange-btn">Убрать остатки</button>
    <button id="copy-exchange-string" class="exchange-btn">Копировать строку</button>
    <button id="load-exchange-string" class="exchange-btn">Загрузить</button>
  </div>
</div>