<table>
  <thead>
    <tr>
      <th></th>
      <th>Руда / Минералы</th>
      <th>Количество</th>
      <th class="copy-cell"></th>
      <th>Преобразовать</th>
      <th>Остатки</th>
    </tr>
  </thead>
  <tbody>

    <!-- Железная руда -->
    <tr>
      <td><img class="icon" src="images/productions/1-16.png"></td>
      <td>Железная руда</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Железная-руда" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Железная руда', document.getElementById('stock-Железная-руда'))">
      </td>
      <td>
        <input type="checkbox" class="convert-checkbox" id="convert-Железная-руда" data-ore="Железная руда" onchange="toggleMineralInputs('Железная руда')">
      </td>
      <td>
        <span class="left-remaining" id="left-Железная-руда" data-ore="Железная руда">-</span>
      </td>
    </tr>

    <!-- Полиэлементная руда -->
    <tr>
      <td><img class="icon" src="images/productions/2-16.png"></td>
      <td>Полиэлементная руда</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Полиэлементная-руда" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Полиэлементная руда', document.getElementById('stock-Полиэлементная-руда'))">
      </td>
      <td>
        <input type="checkbox" class="convert-checkbox" id="convert-Полиэлементная-руда" data-ore="Полиэлементная руда" onchange="toggleMineralInputs('Полиэлементная руда')">
      </td>
      <td>
        <span class="left-remaining" id="left-Полиэлементная-руда" data-ore="Полиэлементная руда">-</span>
      </td>
    </tr>

    <!-- Полиорганическая руда -->
    <tr>
      <td><img class="icon" src="images/productions/3-16.png"></td>
      <td>Полиорганическая руда</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Полиорганическая-руда" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Полиорганическая руда', document.getElementById('stock-Полиорганическая-руда'))">
      </td>
      <td>
        <input type="checkbox" class="convert-checkbox" id="convert-Полиорганическая-руда" data-ore="Полиорганическая руда" onchange="toggleMineralInputs('Полиорганическая руда')">
      </td>
      <td>
        <span class="left-remaining" id="left-Полиорганическая-руда" data-ore="Полиорганическая руда">-</span>
      </td>
    </tr>

    <!-- Уран -->
    <tr>
      <td><img class="icon" src="images/productions/4-16.png"></td>
      <td>Уран</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Уран" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Уран', document.getElementById('stock-Уран'))">
      </td>
      <td>
        <input type="checkbox" class="convert-checkbox" id="convert-Уран" data-ore="Уран" onchange="toggleMineralInputs('Уран')">
      </td>
      <td>
        <span class="left-remaining" id="left-Уран" data-ore="Уран">-</span>
      </td>
    </tr>

    <!-- Пустая строка -->
    <tr>
      <td colspan="6">
        <div style="height: 12px; width: 50%; margin: auto;"></div>
      </td>
    </tr>

    <!-- Митрацит -->
    <tr>
      <td><img class="icon" src="images/productions/5-16.png"></td>
      <td>Митрацит</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Митрацит" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Митрацит', document.getElementById('stock-Митрацит'))">
      </td>
      <td>
        <input class="mineral-input" id="convert-amount-Митрацит" type="text" value="0" disabled>
      </td>
      <td>
        <span class="left-remaining" id="left-Митрацит" data-ore="Митрацит">-</span>
      </td>
    </tr>

    <!-- Иридиум -->
    <tr>
      <td><img class="icon" src="images/productions/6-16.png"></td>
      <td>Иридиум</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Иридиум" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Иридиум', document.getElementById('stock-Иридиум'))">
      </td>
      <td>
        <input class="mineral-input" id="convert-amount-Иридиум" type="text" value="0" disabled>
      </td>
      <td>
        <span class="left-remaining" id="left-Иридиум" data-ore="Иридиум">-</span>
      </td>
    </tr>

    <!-- Крокит -->
    <tr>
      <td><img class="icon" src="images/productions/7-16.png"></td>
      <td>Крокит</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Крокит" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Крокит', document.getElementById('stock-Крокит'))">
      </td>
      <td>
        <input class="mineral-input" id="convert-amount-Крокит" type="text" value="0" disabled>
      </td>
      <td>
        <span class="left-remaining" id="left-Крокит" data-ore="Крокит">-</span>
      </td>
    </tr>

    <!-- Брадий -->
    <tr>
      <td><img class="icon" src="images/productions/8-16.png"></td>
      <td>Брадий</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Брадий" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Брадий', document.getElementById('stock-Брадий'))">
      </td>
      <td>
        <input class="mineral-input" id="convert-amount-Брадий" type="text" value="0" disabled>
      </td>
      <td>
        <span class="left-remaining" id="left-Брадий" data-ore="Брадий">-</span>
      </td>
    </tr>

    <!-- Титанит -->
    <tr>
      <td><img class="icon" src="images/productions/9-16.png"></td>
      <td>Титанит</td>
      <td>
        <div class="material-cell" style="justify-content: center;">
          <input class="ore-input" id="stock-Титанит" type="text" value="0">
        </div>
      </td>
      <td class="copy-cell">
        <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyRowValue('Титанит', document.getElementById('stock-Титанит'))">
      </td>
      <td>
        <input class="mineral-input" id="convert-amount-Титанит" type="text" value="0" disabled>
      </td>
      <td>
        <span class="left-remaining" id="left-Титанит" data-ore="Титанит">-</span>
      </td>
    </tr>
  </tbody>
</table>
