<div>
  <table>
    <thead>
      <tr>
        <th> </th>
        <th>Материалы</th>
        <th>Количество</th>
        <th class="copy-cell"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="icon" src="images/productions/32-16.png"></td>
        <td>Электронные компоненты</td>
        <td>
          <span class="material-output" id="material-output-Электронные-компоненты" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Электронные компоненты', document.getElementById('material-output-Электронные-компоненты'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/46-16.png"></td>
        <td>Алюминий</td>
        <td>
          <span class="material-output" id="material-output-Алюминий" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Алюминий', document.getElementById('material-output-Алюминий'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/47-16.png"></td>
        <td>Сталь</td>
        <td>
          <span class="material-output" id="material-output-Сталь" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Сталь', document.getElementById('material-output-Сталь'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/48-16.png"></td>
        <td>Титановый сплав</td>
        <td>
          <span class="material-output" id="material-output-Титановый-сплав" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Титановый сплав', document.getElementById('material-output-Титановый-сплав'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/49-16.png"></td>
        <td>Нановолокно</td>
        <td>
          <span class="material-output" id="material-output-Нановолокно" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Нановолокно', document.getElementById('material-output-Нановолокно'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/50-16.png"></td>
        <td>Полимеры</td>
        <td>
          <span class="material-output" id="material-output-Полимеры" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Полимеры', document.getElementById('material-output-Полимеры'))">
          </div>
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/51-16.png"></td>
        <td>Композиты</td>
        <td>
          <span class="material-output" id="material-output-Композиты" data-raw="0">0</span>
        </td>
        <td class="copy-cell">
          <div class="material-cell">
            <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Композиты', document.getElementById('material-output-Композиты'))">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>