<div>
  <table>
    <thead>
      <tr>
        <th colspan="2">Материалы</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="icon" src="images/productions/32-16.png"></td>
        <td>Электронные компоненты</td>
        <td>
          <span class="material-output" id="material-output-Электронные-компоненты" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Электронные компоненты', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/46-16.png"></td>
        <td>Алюминий</td>
        <td>
          <span class="material-output" id="material-output-Алюминий" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Алюминий', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/47-16.png"></td>
        <td>Сталь</td>
        <td>
          <span class="material-output" id="material-output-Сталь" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Сталь', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/48-16.png"></td>
        <td>Титановый сплав</td>
        <td>
          <span class="material-output" id="material-output-Титановый-сплав" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Титановый сплав', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/49-16.png"></td>
        <td>Нановолокно</td>
        <td>
          <span class="material-output" id="material-output-Нановолокно" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Нановолокно', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/50-16.png"></td>
        <td>Полимеры</td>
        <td>
          <span class="material-output" id="material-output-Полимеры" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Полимеры', this.previousElementSibling)">
        </td>
      </tr>
      <tr>
        <td><img class="icon" src="images/productions/51-16.png"></td>
        <td>Композиты</td>
        <td>
          <span class="material-output" id="material-output-Композиты" data-raw="0">0</span>
          <img class="copy-icon" src="images/productions/i-copy-16.png" onclick="copyMaterialValue('Композиты', this.previousElementSibling)">
        </td>
      </tr>
    </tbody>
  </table>
  <button id="clear-remainders">Убрать остатки</button>
</div>